<!-- <p>
  La cantidad {{ myShoppingCart.length }}
</p>
<p>
  El total es: ${{ total }}
</p>
<p>Fecha: {{ today | date: 'short' }}</p>
<p>Fecha 2: {{ today | date: 'fullDate' }}</p>
<p>Hace: {{ date | timeAgo }}</p> -->
<button (click)="createNewProduct()">Create</button>
<div class="products--grid">
  <app-product 
    [product]="product" 
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="loadMore()">Cargar mas</button>
</div>
<div class="product--detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <h1 *ngIf="errorMessage.length">{{errorMessage}}</h1>
  <div *ngIf="productChosen" >
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <swiper
      [slidesPerView]="1"
    >
      <ng-template swiperSlide *ngFor="let img  of productChosen.images" >
        <img [src]="img" alt="product image">
      </ng-template>
    </swiper>
    <p>{{ productChosen.description }}</p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">Eliminar</button>
  </div>
</div>