<router-outlet></router-outlet>

<!-- <button (click)="createUser()" >Crear usuario</button>
<button (click)="login()">Ingresar</button>
<button (click)="getProfile()">Ver perfil</button>
<p>
  <a href="./assets/files/texto.txt" download>Descargar</a>
</p>

<p>
  <button (click)="downloadPdf()">Descargar PDF</button>
</p>

<p>
  <input type="file" (change)="onUpload($event)">
  <img *ngIf="imgRta" [src]="imgRta" alt="Imagen">
</p>
<app-products></app-products>
 -->


<!-- <label >Nombre de usuario: </label>
<input type="text" [(ngModel)]="userParent"  >
<app-img (loaded)="onLoaded($event)" [img]="userParent" ></app-img>
 -->
